<!DOCTYPE html>
<html>
<head>
    <title>{{ player_data[1] }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ player_data[1] }}</h1>
        <div class="player-info">
            <div class="player-image">
                <img src="{{ player_data[0] }}" alt="Player Image">
            </div>
            <div class="player-data">
                <ul>
                    {% for item in player_data[2:-1] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
                <div class="bio">
                    <h2>Bio:</h2>
                    <p>{{ player_data[-1] | safe }}</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>